---
---

@import "_variables";
@import "_bootstrap";


.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  a.phone-link {
    color: #FEE354 !important;
  }
  .navbar-brand {
    font-weight: lighter;
    b {
      font-weight: 500;
    }
  }
}
@media (max-width: 767px) {
  .container#about h2 {
    text-align: center;
  }
}
.ss-logo {
  background-image: url("../images/simplespanish.svg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
}
.not-average {
  margin-top: 3%;
  font-family: 'Lobster';
}
.half-off {
  bottom: 26%;
  position: absolute;
  text-align: center;
  margin: auto;
  right: 20%;
  left: 20%;
  i {
    font-size: 0.7em;
  }
}
#learn-more {
  margin-bottom: 40px;
  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #fee354;
    }
  }
}
.modal {
  p {
    color: $color_log_cabin_approx;
  }
  h1 {
    color: $color_log_cabin_approx;
  }
  h2 {
    color: $color_log_cabin_approx;
  }
  h3 {
    color: $color_log_cabin_approx;
  }
  h4 {
    color: $color_log_cabin_approx;
  }
  a {
    color: #B5A44A;
  }
}
.subtitle {
  font-size: 0.7em;
  font-style: italic;
  margin: 0;
}
.learn-more-table {
  width: 100%;
  th {
    width: 50%;
    text-align: center;
  }
  td {
    vertical-align: middle !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  td:nth-child(1) {
    border-right: 1px solid white;
  }
}
#myCarousel {

  // height: 500px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%), url('../images/study.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  -webkit-transition: background-image .25s ease-in-out;
  transition: background-image .25s ease-in-out;

  .slick-dots {
    bottom: 0;
    li {
      button:before {
        font-size: 14px;
        color: $white_60;
      }
      .slick-active button:before {
        color: $white;
      }
    }
  }
  .slick-prev {
    @extend %extend_1;
    left: 0;
    padding-left: 20px;
    &:before {
      color: rgba(255,255,255,0.4);
      @extend %extend_2;
      right: 0;
    }
  }
  .slick-next {
    @extend %extend_1;
    right: 0;
    padding-right: 20px;
    &:before {
      color: rgba(255,255,255,0.4);
      @extend %extend_2;
      left: 0;
      font-family: $font_0;
      content: "\e080";
    }
  }
  
  .slick-list, 
  .slick-track {
    height: 100%;
  }
  
  .carousel-control {
    background-image: none;
  }
  .about-btn {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    height: 10px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &:hover {
      color: #fee354;
    }
  }
  .btn {
    position: absolute;
    bottom: 40px;
    left: 10px;
    right: 10px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #222;
    }
  }
  .button-label {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 80px;
  }
  

  .item {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 150px;
    padding-top: 40px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
    .carousel-caption {
      top: 16%;
      padding: 0;
    }
    &.intro {
      
      .ss-logo {
        height: 120px;
        width: 200px;
        margin: 0 auto;
      }
      
      h3 strong {
        color: #FEE354;
        line-height: 1.3em;
      }
    }
    #study {
      // background-image: linear-gradient(to top, $black_50 0, rgba(0, 0, 0, 0.7) 100%), url('../images/study.jpg') ;
    }
    .carousel-bg-img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
  }

  
}
.container {
  margin: 0;
  width: 100%;
  &#about-us {
    padding: 0;
    .about-us-exp {
      margin: auto;
      text-align: center;
      font-size: 1.2em;
      i {
        font-size: 3em;
      }
      p {
        // min-width: 300px;
      }
    }
    .row {
      margin: 0;
      width: 100%;
      padding: 0 !important;
    }
    .col {
      // height: 300px;
      padding: 30px;
      display: inline-flex;

    }
    .personalize {
      background-color: #303030;
      color: #fff;
    }
    .comfortable {
      background-color: #F7F7F7;
      color: #222;
    }
    .passion {
      background-color: #fff;
      color: #222;
    }
    .practical {
      background-color: #202020;
      color: #fff;
    }
  }
  &#about {
    border-top: 1px solid rgba(34, 34, 34, 0.16);
    background: $white;
    color: $color_log_cabin_approx;
    background-position: center 40%;
    background-size: cover;
    h2 {
      margin-top: 0;
    }
  }
  &#reviews{
    background-color: white;
    h3 {
      text-align: center;
      color: #111;
    }
    .reviews {
      
      height: 100%;
      padding-top: 10px;

      .review-col {
        min-height: 185px;
      }
      &.row {
        // margin: 0 40px;
        height: 100%;
        .col {
          height: 100px;
        }
      }
      .review-item {
        color: #222;
        text-align: left;
        font-size: 1.1em;
        padding: 20px 0 0;
        margin: 0 auto 3px;
        max-width: 350px;

        .fa {
          font-size: 1.3em;
          margin: 0px 10px 0px;
        }
      }
      .reviewer {
        text-align: right;
        font-size: 1.1em;
        color: #222;
        padding: 0 15px 0 0;
        margin: 0 auto 0;
        max-width: 350px;
        font-style: italic;
      }

    }
  }
  &#contact {
    background: $color_tundora_approx;
    h3 {
      margin-top: 0 !important;
    }
  }
  .row {
    padding-top: 15px;
    &:not(.header) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  &#pricing {
    color: white;
    li.pricing-tab {
      a:hover {
        background-color: transparent;
        color: #fee354;
      } 
      &.active {
        text-decoration: underline;
      }
    }
    .navbar-brand {
      font-size: 30px;
      font-weight: 500;
    }
    .row {
      &:not(.header) {
        padding-top: 15px;
      }
    }
    .side-table {
      margin: 20px 0 0;
      a.learn-more-benefits {
        color: #fee354;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
    table {
      th {
        // color: #fee354;
        font-weight: 600;
      }
      &.side-table {
        td,
        th {
          border: none !important;
          u {
            color: #fee354;
          }
        }
      }
      &.rates-table,
      &.table-benefits {
        margin-top: 10px;
        td:nth-child(1n) {
          font-weight: 500;
          p {
            font-size: 0.7em;
            font-weight: 300;
            font-style: italic;
            margin: 0;
          }
        }
        td:nth-child(2n) {
          font-weight: 600;
        }
      }
      td {
        vertical-align: middle;
      }
    }
  }
}
@media (min-width: 992px) {
  .container .row {
    width: 970px;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .container#contact h3 a {
    &.phone-link {
      text-align: right;
    }
    &.email-link {
      text-align: right;
    }
  }
}
@media (min-width: 768px) {
  .container .row {
    width: 750px;
    margin: auto;
    
  }
  .container#about {
    background-attachment: fixed;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.7) 100%), url("../images/marta2.png");
    p {
      font-weight: 500;
    }
  }
  .item {
    padding-top: 90px !important;
  }
  .not-average {
    margin-top: 13% !important;
  }
}
@media (min-width: 1200px) {
  .container .row {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    background-color: #222;
  }
}
@media (max-width: 568px) {
  .carousel-caption {
    top: 14% !important;
  }
  .review-item {
    max-width: 300px !important;
  }
  .learn-more-table {
    th.ss-logo {
      height: 60px;
    }
    td {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      font-size: 0.8em;
    }
  }
}

a.fa {
  text-decoration: none;
  &:hover {
    color: #FEE354;
  }
}
form.contact-form textarea {
  height: 80px;
}
h3 a {
  &.phone-link {
    @extend %extend_3;
  }
  &.email-link {
    @extend %extend_3;
  }
}
.table-hover > tbody > tr:hover {
  background-color: transparent;
}

