---
---

//
// IMPORTS
//

@import "_reset";
@import "_ie";
@import "_print";
@import "_variables";
@import "_bootstrap";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

//@extend-elements
//original selectors
//#myCarousel .slick-prev, #myCarousel .slick-next
%extend_1 {
  width: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}


//original selectors
//#myCarousel .slick-prev:before, #myCarousel .slick-next:before
%extend_2 {
  position: absolute;
  top: 50%;
  font-family: $font_0;
  content: "\e079";
}

//original selectors
//h3 a.phone-link, h3 a.email-link
%extend_3 {
  color: #FEE354;
  float: none;
  text-align: center;
}


.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  a.phone-link {
    color: #FEE354 !important;
  }
  .navbar-brand {
    font-weight: lighter;
    b {
      font-weight: 500;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-collapse{
    background-color: #222;
  }
  .container#about h2 {
    text-align: center;
  }
}
.modal {
  p {
    color: $color_log_cabin_approx;
  }
  h1 {
    color: $color_log_cabin_approx;
  }
  h2 {
    color: $color_log_cabin_approx;
  }
  h3 {
    color: $color_log_cabin_approx;
  }
  h4 {
    color: $color_log_cabin_approx;
  }
  a {
    color: #B5A44A;
  }
}
.ss-logo {
  background-image: url("{{ site.baseurl }}/images/simplespanish.svg");
  height: 50%;
  widows: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#myCarousel {
  // height: 500px;
  margin-bottom: 0;
  -webkit-transition: background-image .25s ease-in-out;
  transition: background-image .25s ease-in-out;

  .slick-dots {
    bottom: 0;
    li {
      button:before {
        font-size: 14px;
        color: $white_60;
      }
      .slick-active button:before {
        color: $white;
      }
    }
  }
  .slick-prev {
    @extend %extend_1;
    left: 0;
    padding-left: 20px;
    &:before {
      @extend %extend_2;
      right: 0;
    }
  }
  .slick-next {
    @extend %extend_1;
    right: 0;
    padding-right: 20px;
    &:before {
      @extend %extend_2;
      left: 0;
      font-family: $font_0;
      content: "\e080";
    }
  }
  .slick-list, 
  .slick-track {
    height: 100%;
  }
  .carousel-control {
    background-image: none;
  }
  .item {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: $color_mine_shaft_approx;
    background: linear-gradient(to bottom, $black_50 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
    &.intro {
      .carousel-caption {
        top: 12%;
      }
      .about-btn {
        position: absolute;
        bottom: 0px;
        left: 10px;
        right: 10px;
        height: 10px;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          color: #fee354;
        }
      }
      .button-label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 80px;
      }
      .btn {
        position: absolute;
        bottom: 40px;
        left: 10px;
        right: 10px;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        &:hover {
          background-color: #fff;
          color: #222;
        }
      }
      h3 strong {
        color: #FEE354;
        line-height: 1.3em;
      }
    }
    #study {
      background-image: linear-gradient(to top, $black_50 0, rgba(0, 0, 0, 0.7) 100%), url('{{ site.baseurl }}/images/study.jpg') ;
    }
    .carousel-bg-img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  
}
.container {
  margin: 0;
  width: 100%;
  &#about-us {
    padding: 0;
    .about-us-exp {
      margin: auto;
      text-align: center;
      font-size: 1.2em;
      i {
        font-size: 3em;
      }
      // p {
      //  min-width: 300px;
      // }
    }
    .row {
      margin: 0;
      width: 100%;
      padding: 0 !important;
    }
    .col {
      // height: 300px;
      padding: 30px 5%;
      display: inline-flex;

    }
    .personalize {
      background-color: #303030;
      color: #fff;
    }
    .comfortable {
      background-color: #F7F7F7;
      color: #222;
    }
    .passion {
      background-color: #fff;
      color: #222;
    }
    .practical {
      background-color: #202020;
      color: #fff;
    }
  }
  &#about {
    border-top: 1px solid rgba(34, 34, 34, 0.16);
    background: $white;
    color: $color_log_cabin_approx;
    font-size: 1.2em;
    h2 {
      margin-top: 0;
    }

    background-position: center 40%;
    background-size: cover;
    // background-image: linear-gradient(to left, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.98) 100%), url("../images/marta2.png");
    
    @media (min-width: 768px) {
      background-attachment: fixed;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.7) 100%), url("{{ site.baseurl }}/images/marta2.png");
    }
  }
  &#contact {
    background: $color_tundora_approx;
    h3 {
      margin-top: 0 !important;
    }
  }
  .row {
    padding-top: 15px;
    &:not(.header) {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  &#pricing {
    .row {
      &:not(.header) {
        padding-top: 15px;
      }
    }
  }
}
@media (min-width: 992px) {
  .container .row {
    width: 970px;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .container#contact h3 a {
    &.phone-link {
      text-align: right;
    }
    &.email-link {
      text-align: right;
    }
  }
}
@media (min-width: 768px) {
  .container .row {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container .row {
    width: 1170px;
  }
}
a.fa {
  text-decoration: none;
  &:hover {
    color: #FEE354;
  }
}
form.contact-form textarea {
  height: 80px;
}
h3 a {
  &.phone-link {
    @extend %extend_3;
  }
  &.email-link {
    @extend %extend_3;
  }
}
.table-hover > tbody > tr:hover {
  background-color: transparent;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";