<!-- FOOTER -->
<footer>
	<div class="container">
		<p class="pull-right">
		  <a target="blank" href="http://facebook.com/SimpleSpanishCo" class="fa fa-facebook fa-2x"></a>&nbsp;&nbsp;
		  <a target="blank" href="http://twitter.com/simplespanishco" class="fa fa-twitter fa-2x"></a>&nbsp;&nbsp;
		  <a target="blank" href="http://instagram.com/simplespanish.co" class="fa fa-instagram fa-2x"></a>&nbsp;&nbsp;
		  <a class="slide-link" href="#nav">Back to top</a>
		</p>
		<p>&copy; 2014 Simple Spanish, LLC</p>
	</div>
</footer>