<script type="text/javascript">
  $(function() {

    $("#landing .ss-logo").css({'width' : '80%', 'background-position-y' : '65%'});

    if ($('.navbar').offset().top + 100 > $('#landing').height()) {
      $('.navbar').css('background', '#e0001b');
      $('.navbar').css('border-bottom', '3px solid white');
    }
    else {
      $('.navbar').css('background', 'transparent');
      $('.navbar').css('border-bottom', '3px solid transparent');
    }

    //PAGE ITEM SIZING
    var height = $(window).height();
    
    // col height
    if (height > 370) {
      $("#about-us .col, #pricing .col").height(355);
      $("#reviews .col, #teachers .col").css('min-height', 365);
    }

    // set a min height for landing 
    height = (height < 460) ? 460 : height;
    
    //set landing height
    $("#landing").height(height/2);


    // Bind event listener to window resize
    $(window).resize(function(){
      //PAGE ITEM SIZING
      var height = $(window).height();
      
      // col height
      if (height > 370) {
        $("#about-us .col, #pricing .col").height(355);
        $("#reviews .col, #teachers .col").css('min-height', 365);
      }

      // set a min height for landing 
      height = (height < 460) ? 460 : height;
      
      //set landing height
      $("#landing").height(height/2);

    });

    $( window ).scroll(function() {
      if ($('.navbar').offset().top +100 > $('#landing').height()) {
        $('.navbar').css('background', '#e0001b');
        $('.navbar').css('border-bottom', '3px solid white');
      }
      else {
        $('.navbar').css('background', 'transparent');
        $('.navbar').css('border-bottom', '3px solid transparent');
      }
    });
    

    // Learn More Benefits Click
    $('.learn-more-benefits').click(function() {
      $('#pricing-tabs li:eq(1) a').tab('show');
      var target = $('#pricing');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 600);
        return false;
      }
    });

    // Slide Page Links
    $('a.slide-link[href*=#]:not([href=#])').click(function() {

      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 80
          }, 600);
          $("#navbar").ariaExpanded(false);
          return false;
        }
      }
    });

    

    if (document.URL.indexOf("#cancelation") != -1) {
      $("#cancelationModal").modal();
    }

    if (document.URL.indexOf("#benefits") != -1) {
      // alert("ASD");
      // var target = $("pricing");
      // target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      // if (target.length) {
      //   $('html,body').animate({
      //     scrollTop: target.offset().top
      //   }, 600);
      //   return false;
      // }
      
      $('#pricing-tabs li:eq(1) a').tab('show');
      var target = $('#pricing');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 600);
        return false;
      }
    }

  });
</script>