<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.simplespanish.com"></a>
      <!-- <button type="button" class="btn btn-default navbar-btn pull-right"></button> -->
    </div>


    <div id="navbar" class="navbar-collapse navbar-right collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a class="phone-link" href="tel:703-574-0226"><i class="fa fa-phone"></i></a></li> -->
        <li><a class="slide-link" href="http://www.simplespanish.com/#about-us">About</a></li>
        <li><a class="slide-link" href="http://www.simplespanish.com/#reviews">Reviews</a></li>
        <li><a class="slide-link" href="http://www.simplespanish.com/#pricing">Pricing</a></li>
        <li><a href="http://blog.simplespanish.com">Blog</a></li>
        <li><a type="button" class="typeform-share" href="https://brian70.typeform.com/to/sAmNsv" data-mode="1" target="_blank">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>