<script type="text/javascript">
	$(function() {

		$('.collapse').on('hide.bs.collapse', function () {
			
			// do something…
			$("#landing-translations-button").html('<i class="fa fa-plus-square"></i>&nbsp;&nbsp;Show Translations');
			$("#landing-translations-button").blur();

		});

		$('.collapse').on('show.bs.collapse', function () {
			// do something…
			$("#landing-translations-button").html('<i class="fa fa-minus-square"></i>&nbsp;&nbsp;Hide Translations');
			$("#landing-translations-button").blur();

		});

	});
</script>