.posts {
	padding-top: 10px;
	padding-bottom: 80px;

	// img:not(.emoji) {
	// 	display: none;
	// }

	.entry {
		
		.entryImg {
			height: 70px;
			width: 30%;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}