
.posts {

	.post {
		// padding-top: 10px;
		// padding-bottom: 40px;

		a:focus,
		a:hover,
		a:visited {
			text-decoration: none;
		}

		.post-banner {

			overflow: hidden;
			padding: 40px 20px;
			position: relative;
			width: 100%;
			border-radius: 2px;
			-webkit-transition: background-color .15s ease-out;
			transition: background-color .15s ease-out;

			&:hover {
				background-color: $primary-red;
			}
			&:active {
				background-color: lighten($primary-red, 10%);
			}

			.banner-title {
				color: #fff;

				h1, h5, h4 {
					text-align: center;
					margin-bottom: 0;
					margin-top: 0;
				}
				h5 {
					font-weight: 300;
					font-size: 0.7em;
				}
				h4 {
					font-style: italic;
					color: #F7F7F7;
					font-size: 1em;
					margin-top: 4px;
				}
				
			}

			.banner-image {
				z-index: -1;
				-webkit-filter: blur(4px) brightness(73%);
				filter: blur(4px) brightness(73%);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: -18px;
				bottom: -18px;
				left: -18px;
				right: -18px;

			}
		}


		.entry {
			
			.entryImg {
				height: 70px;
				// width: 30%;
				margin-right: 10px;
			}
		}
}

}

.rrssb-buttons {
	margin: 10px 0;
}

nav {
	ul.pagination,
	ul.pager {
		li {
			a {
				color: $darkerGray;
			}
			&.active {
				a {
					background-color: $darkerGray;
				}
			}
		}
	}
}