
.posts {
	padding-top: 10px;
	padding-bottom: 80px;

	.entry {
		
		.entryImg {
			height: 70px;
			// width: 30%;
			margin-right: 10px;
		}
	}

	.post {

		border-top: $color_mustard_approx 13px solid;
		background-color: white;
		color: $darkerGray;
		border-radius: 1px;
		padding: 30px 30px 80px;
		font-size: 1.3em;

		h1 {
			text-align: center;
			font-family: $lato;
			font-weight: 600;
			margin-top: 0px;
		}

		a, p {
			color: $darkerGray;
		}

		.read-more {
			float: right;
			color: darkGray;
		}

		.post-footer {
			position: absolute;
			width: 100%;
			height: 50px;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgb(251, 251, 251);
			border-bottom-left-radius: 1px;
			border-bottom-right-radius: 1px;
			border-top: 1px solid rgb(245, 245, 245);
		}
	}
}

nav {
	ul.pagination,
	ul.pager {
		li {
			a {
				color: $darkerGray;
			}
			&.active {
				a {
					background-color: $darkerGray;
				}
			}
		}
	}
}