#landing {
	margin-bottom: 30px;
	background-color: #222;
}

.rrssb-buttons {
	margin-bottom: 30px;
}

.post-title {
	margin-top: 100px;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
}
.post {

	// padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	img:not(.emoji) {
		max-width: 100%;
	}


	
	.entryImg {
		// height: 100px;
		width: 100%;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
}

nav {

	ul.pagination,
	ul.pager {
		padding: 0 20px;
		li {
			a {
				color: $darkerGray;
			}
			&.active {
				a {
					background-color: $darkerGray;
				}
			}
		}
	}
}

.buttons-container {
	width: 100%;
}