#post .container#landing {
	
	padding: 14% 20px !important;
	max-height: 440px !important;
	min-height: 330px !important;

	@media (max-width: 768px) {
		padding: 30% 20px !important;
	}

	@media (max-width: 400px) {
		.ss-logo {
			display: none;
		}
	}

	.ss-logo {
		background-image: url("../images/simplespanishOutline.svg");
		background-size: contain;
		background-repeat: no-repeat;
		// background-position: 50% 67%;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		height: 50px;
		margin: auto;

			// -webkit-transition: width 1s ease-out, background-position-y 1s ease-out;
	}

	.background-image {
		z-index: -1;
		-webkit-filter: blur(4px) brightness(73%);
			filter: blur(4px) brightness(73%);
	}

	#landing-translations-button {
		position: absolute;
		bottom: 5px; 
		right: 5px;
		height: 30px;
		font-size: 0.7em;
		color: white;
	}

}

.rrssb-buttons {
	margin: 4% 0;
}

.post-title {
	
	text-align: center;
	color: white;

	h1, h5, h4 {
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
	}
	h5 {
		font-weight: 300;
		font-size: 0.7em;
	}
	h4 {
		font-style: italic;
		color: #F7F7F7;
		font-size: 1em;
		margin-top: 4px;
	}
}
.post {

	// padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	// img:not(.emoji) {
	// 	max-width: 100%;
	// }

	.entry {

		.translation-section {
			text-align: right !important;
			color: #777;
			font-style: italic;
			font-weight: 100;
			position: relative;

			// .translations-button {
			// 	position: absolute;
			// 	top: 5px; 
			// 	left: 5px;
			// 	font-size: 1.0em;
			// 	color: #777;
			// }
		}

	}
	
	.entryImg {
		// height: 100px;
		width: 100%;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.meta {
		margin: 40px auto;
	}
	
}



.footer-links {
	margin-top: 30px;
	margin-bottom: 30px;

	.next-article {
		.banner-title {
			h2, h5 {
				text-align: right !important;
			}
		}
	}

	.footer-col {
		overflow: hidden;
		padding-top: 10px;
		// margin: 0;
		padding-bottom: 10px;
		position: relative;
		margin-bottom: 2px;
		// width: 100%;
		border-radius: 2px;
		-webkit-transition: background-color .15s ease-out;
		transition: background-color .15s ease-out;

		.banner-title {

			@media (max-width: 450px) {
				h2 {
					font-size: 1em !important;
				}
			}

			h2, h5 {
				text-align: left;
			}
		}

		&:hover {
			background-color: $primary-red;
		}
		&:active {
			background-color: lighten($primary-red, 10%);
		}

		.banner-title {
			color: #fff;

			h2, h5 {
				// text-align: center;
				margin-bottom: 0;
				margin-top: 0;
			}
			h5 {
				font-weight: 300;
				font-size: 0.7em;
			}
			
		}

		.banner-image {
			z-index: -1;
			-webkit-filter: blur(4px) brightness(73%);
			filter: blur(4px) brightness(73%);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: -18px;
			bottom: -18px;
			left: -18px;
			right: -18px;

		}
	}
}

.buttons-container {
	width: 100%;
}