
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

$primary-red: #E0001B;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lato: Lato, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//colors
$color_log_cabin_approx: #222;
$color_mustard_approx: #fee354;
$color_husk_approx: #b5a44a;
$white_60: rgba(255, 255, 255, 0.6);
$white: white;
$color_mine_shaft_approx: #333;
$black_50: rgba(0, 0, 0, 0.9);
$color_tundora_approx: #444;

//fonts
$font_0: Glyphicons Halflings;

%extend_1 {
  width: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

%extend_2 {
  position: absolute;
  top: 50%;
  font-family: $font_0;
  content: "\e079";
}

%extend_3 {
  color: #FEE354;
  float: none;
  text-align: center;
}


@import url(http://fonts.googleapis.com/css?family=Lobster);