<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <!-- favicon -->
    <link rel="shortcut icon" href="./images/favicon.ico?cb=1" type="image/x-icon">
    <link rel="icon" href="./images/favicon.ico?cb=1" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.description }}">
    {% if page.image %}
        <meta itemprop="image" content="http://blog.simplespanish.com/images/{{ page.image }}">
    {% endif %}

    <!-- Twitter Card data -->
    {% if page.image %}
        <meta name="twitter:card" content="http://blog.simplespanish.com/images/{{ page.image }}">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.footer-links.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="@{{ site.footer-links.twitter }}">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    {% if page.image %}
        <meta name="twitter:image:src" content="http://blog.simplespanish.com/images/{{ page.image }}">
    {% endif %}

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://blog.simplespanish.com{{ page.url }}index.html" />
    {% if page.image %}
      <meta property="og:image" content="http://blog.simplespanish.com/images/{{ page.image }}" />
    {% endif %}
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="article:modified_time" content="{{ page.date }}" />
<!--     <meta property="article:section" content="Article Section" /> -->
<!-- <meta property="article:tag" content="Article Tag" /> -->
    <meta property="fb:admins" content="{{ site.facebook_app_id }}" />
    <meta property="fb:app_id" content="{{ site.facebook_app_id }}" />
    
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    {% for cssFile in page.cssFiles %}
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/{{ cssFile }}" />
    {% endfor %}

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body id="post">
    {% include navbar.html %}

    {{ content }}
    
    <div class="container">
        {% if page.comments %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 footer-col">
            {% include disqus.html disqus_identifier=page.disqus_identifier %}
            </div>
        </div>
        {% endif %}
    {% include footer.html %}
    </div>

    {% include bootstrap.html %}
    {% include analytics.html %}
    {% for jsInclude in page.jsIncludes %}
      
      {% include {{ jsInclude }} %}
      
    {% endfor %}
  </body>
</html>
