---
layout: postParent
cssFiles:
 - post.css?cb=1
jsIncludes: 
 - sharebuttonsjs.html
 - translationsjs.html
 - postjs.html
 - grammarjs.html
---

<div class="container" id="landing">
	<div style="{% if page.image %}background-image: url('{{ site.baseurl}}/images/{{ page.image }}');{% else %}background: #222;{% endif %}; background-size: cover;" class="background-image"></div>
	<div class="ss-logo"></div>
	<div class="post-title">
		<h5>{{ page.date | date: "%b %-d, %Y" }}</h5>
		<h1>{{ page.title }}</h1>
		<h4>{{ page.title-english }}</h4>
		{% if page.hasTranslations %}
		<button id="landing-translations-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target=".translation-section" aria-expanded="true" aria-controls="translation-section"><i class="fa fa-minus-square"></i>&nbsp;&nbsp;Hide Translations</button>
		{% endif %}
	</div>
  

</div>

<article class="post container">
	<div class="entry row">
	  	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			{% include sharebuttons.html %}
		    {{ content }}
		    {% if page.date %}
			<div class="meta">
				Written on {{ page.date | date: "%B %e, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}
			</div>
			{% endif %}
	    </div>
	</div>
 


</article>

<div class="footer-links container">
	{% if page.next != nil %}
	<div class="next-article row">
		<a {% if page.next %} href="{{ page.next.url }}" {% endif %}>
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 footer-col">
				<div class="banner-image" style="{% if page.next.image %}background-image: url('{{ site.baseurl}}/images/{{ page.next.image }}'){% else %}background: #222{% endif %};"></div>
				<div class="banner-title">
					<h5>Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></h5>
					<h2>{{ page.next.title }}</h2>
				</div>
			</div>
		</a>
	</div>
	{% endif %}

	{% if page.previous != nil %}
	<div class="previous-article row">
		<a {% if page.previous %} href="{{ page.previous.url }}"{% endif %}>
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 footer-col">
				<div class="banner-image" style="{% if page.previous.image %}background-image: url('{{ site.baseurl}}/images/{{ page.previous.image }}'){% else %}background: #222{% endif %};"></div>
				<div class="banner-title">
					<h5><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</h5>
					<h2>{{ page.previous.title }}</h2>
				</div>
			</div>
		</a>
	</div>
	{% endif %}

</div>
